<!DOCTYPE html>
<html dir="ltr" lang="@Html.Raw(ViewData["LanguageIdentifier"])">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, AdminWrap lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Xtreme admin lite design, Xtreme admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description" content="Xtreme Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"]</title>@RenderSection("Head", required: false)
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
@RenderSection("Styles", required: false)
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">@RenderSection("Header", required: false)</header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">@RenderSection("Menu", required: false)</ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">@RenderSection("Title", required: false)</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">@RenderSection("Breadcrumb", required: false)</nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <!--
                        <div class="text-right upgrade-btn">
                            <a href="https://wrappixel.com/templates/xtremeadmin/" class="btn btn-danger text-white"
                                target="_blank">Upgrade to Pro</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">@RenderSection("Content", required: false)</div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">@RenderSection("Footer", required: false)</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->

    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/aENUZEE1cm9nWGJCZS9ERlBkZW5uQT09/dist/js/custom.js"></script>
@RenderBody()
@RenderSection("Scripts", required: false)
</body>

</html>