@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="buscarProductores" name="buscarProductores" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
<input type="text" id="buscarTerminoBuscarProductores" name="buscarTerminoBuscarProductores"  class="form-control"  placeholder="@Html.Raw(Idioma["BuscarTermino"])"  /></div>
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
<select  class="form-control"  id="cedasBuscarProductores" name="cedasBuscarProductores" >
<option value="">@Html.Raw(Idioma["SeleccionarCedas"])</option>
@{var datosCedasProductores = ViewData["FuenteDeDatosCedas"] as IList<Codium.Web.Models.MysqlrRepositorios.DTO.ListaCedas>; }
@if(datosCedasProductores != null && datosCedasProductores.Count > 0)
{
    foreach (var listaCedas in datosCedasProductores)
    {
        @Html.Raw("<option value=\"")
        @Html.Raw(listaCedas.LlavePrimariaCedas)
        @Html.Raw("\">")
        @Html.Raw(listaCedas.IdCedaSegalmexCedas)
        @Html.Raw("</option>")
    }
}
</select></div>
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
<button id="buscarBuscarProductores" name="buscarBuscarProductores"  class="btn btn-block btn-info" type="submit" onclick="return buscarBuscarProductoresClick(null);" >@Html.Raw(Idioma["Buscar"])</button></div>
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
<button id="nuevoBuscarProductores" name="nuevoBuscarProductores"  class="btn btn-block btn-success" type="submit" onclick="return nuevoBuscarProductoresClick(null);" >@Html.Raw(Idioma["Nuevo"])</button></div>
</div>
</div>
</div>
</form>
