@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="buscarCedasOriginal" name="buscarCedasOriginal" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<input type="text" id="buscarTerminoBuscarCedasOriginal" name="buscarTerminoBuscarCedasOriginal"  class="form-control"  placeholder="@Html.Raw(Idioma["BuscarTermino"])"  /></div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<button id="buscarBuscarCedasOriginal" name="buscarBuscarCedasOriginal"  class="btn btn-block btn-info" type="submit" onclick="return buscarBuscarCedasOriginalClick(null);" >@Html.Raw(Idioma["Buscar"])</button></div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<button id="nuevoBuscarCedasOriginal" name="nuevoBuscarCedasOriginal"  class="btn btn-block btn-success" type="submit" onclick="return nuevoBuscarCedasOriginalClick(null);" >@Html.Raw(Idioma["Nuevo"])</button></div>
</div>
</div>
</div>
</form>
