@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/node_modules/lc-select/lc_select.min.js"></script>
<script type="text/javascript" >
var esNuevoBuscarProductores = true;
new lc_select(document.querySelector('#cedasBuscarProductores'), {
    wrap_width: '100%',
    labels: [
    '@Html.Raw(Idioma["BuscarTermino"])',
    '',
    '',
    '@Html.Raw(Idioma["SinResultados"])'
    ],
});
function cedasBuscarProductoresChange(e) {
    var lineaActual = '';
    return false;
}
function buscarBuscarProductoresClick(e) {
    var lineaActual = '';
    $("#buscarBuscarProductores").prop("disabled", true);
    if ($('#cargadorGuardarIndexedDb').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorGuardarIndexedDb" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorGuardarIndexedDb').modal({
            keyboard: false
        });
        $('#cargadorGuardarIndexedDb').modal('show');
    }
    let guardarIndexedDbConn = indexedDB.open('test', 7);
    guardarIndexedDbConn.onupgradeneeded = function() {
        let guardarIndexedDbDb = guardarIndexedDbConn.result;
        if (!guardarIndexedDbDb.objectStoreNames.contains('libros_catalogo')) {
            guardarIndexedDbDb.createObjectStore('libros_catalogo', {
                keyPath: 'id',
                autoIncrement: true
            });
        }
    };
    guardarIndexedDbConn.onsuccess = function() {
        let guardarIndexedDbDb = guardarIndexedDbConn.result;
        let guardarIndexedDbTxn = guardarIndexedDbDb.transaction(['libros_catalogo'], 'readwrite');
        let libros0 = guardarIndexedDbTxn.objectStore('libros_catalogo');
        libros0.put({
            nombre: '@Html.Raw(Idioma["BuscarTermino"])',
            activo: true,
            id: 3,
            fecha: new Date(),
            notas: $('#buscarTerminoBuscarProductores').val(),
            parametro: '@ViewContext.RouteData.Values["parametro1"]'
        });
        guardarIndexedDbTxn.oncomplete = function(event) {
            guardarIndexedDbDb.close();
            $("#buscarBuscarProductores").prop("disabled", false);
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarIndexedDb').modal('hide');
            }
            tablaDeDatosProductoresTabla.replaceData();
        };
        guardarIndexedDbTxn.onerror = function(error) {
            console.error(error);
            guardarIndexedDbDb.close();
            $("#buscarBuscarProductores").prop("disabled", false);
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarIndexedDb').modal('hide');
            }
            if ($('#guardarIndexedDb').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarIndexedDb" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarIndexedDbCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarIndexedDbCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#guardarIndexedDb').modal({
                    keyboard: false
                });
                $('#guardarIndexedDb').modal('show');
            }
        };
    };
    guardarIndexedDbConn.onerror = function() {
        console.error(guardarIndexedDbConn.error);
        $("#buscarBuscarProductores").prop("disabled", false);
        if (typeof $ != 'undefined') {
            $('#cargadorGuardarIndexedDb').modal('hide');
        }
        if ($('#guardarIndexedDb').length == 0) {
            var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarIndexedDb" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarIndexedDbCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarIndexedDbCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
            $('body').append(contenido);
        }
        if (typeof $ != 'undefined') {
            $('#guardarIndexedDb').modal({
                keyboard: false
            });
            $('#guardarIndexedDb').modal('show');
        }
    };
    return false;
}
function nuevoBuscarProductoresClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")productores/nuevo';
    return false;
}</script>
