@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript" >
var esNuevoBuscarCedas = true;
function buscarBuscarCedasClick(e) {
    var lineaActual = '';
    tablaDeDatosCedasTabla.replaceData();
    return false;
}
function nuevoBuscarCedasClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")cedas/nuevo';
    return false;
}</script>
