@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript" >
var esNuevoBuscarCedasOriginal = true;
function buscarBuscarCedasOriginalClick(e) {
    var lineaActual = '';
    tablaDeDatosCedasOriginalTabla.replaceData();
    return false;
}
function nuevoBuscarCedasOriginalClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")cedas_originales/nuevo';
    return false;
}</script>
