@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="buscarCedas" name="buscarCedas" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<input type="text" id="buscarTerminoBuscarCedas" name="buscarTerminoBuscarCedas"  class="form-control"  placeholder="@Html.Raw(Idioma["BuscarTermino"])"  /></div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<button id="buscarBuscarCedas" name="buscarBuscarCedas"  class="btn btn-block btn-info" type="submit" onclick="return buscarBuscarCedasClick(null);" >@Html.Raw(Idioma["Buscar"])</button></div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
<button id="nuevoBuscarCedas" name="nuevoBuscarCedas"  class="btn btn-block btn-success" type="submit" onclick="return nuevoBuscarCedasClick(null);" >@Html.Raw(Idioma["Nuevo"])</button></div>
</div>
</div>
</div>
</form>
