@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="detalleCedasOriginal" name="detalleCedasOriginal" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarDapTonCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["DapTon"])</label>
<input type="number" id="editarDapTonCedasOriginalDetalleCedasOriginal" name="editarDapTonCedasOriginalDetalleCedasOriginal"  class="form-control"  min="@Html.Raw(Idioma["Minimo9223372036854775807"])" max="@Html.Raw(Idioma["Maximo9223372036854775807"])" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarUreaTonCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["UreaTon"])</label>
<input type="number" id="editarUreaTonCedasOriginalDetalleCedasOriginal" name="editarUreaTonCedasOriginalDetalleCedasOriginal"  class="form-control"  min="@Html.Raw(Idioma["Minimo9223372036854775807"])" max="@Html.Raw(Idioma["Maximo9223372036854775807"])" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarClaveCedasSaderCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["ClaveCedasSader"])</label>
<input type="text" id="editarClaveCedasSaderCedasOriginalDetalleCedasOriginal" name="editarClaveCedasSaderCedasOriginalDetalleCedasOriginal"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarEstadoCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["Estado"])</label>
<input type="text" id="editarEstadoCedasOriginalDetalleCedasOriginal" name="editarEstadoCedasOriginalDetalleCedasOriginal"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["IdCedaSegalmex"])</label>
<input type="text" id="editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal" name="editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarRegionSegalmexCedasOriginalDetalleCedasOriginal">@Html.Raw(Idioma["RegionSegalmex"])</label>
<input type="text" id="editarRegionSegalmexCedasOriginalDetalleCedasOriginal" name="editarRegionSegalmexCedasOriginalDetalleCedasOriginal"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="regresarDetalleCedasOriginal" name="regresarDetalleCedasOriginal"  class="btn btn-block btn-danger" type="button" onclick="return regresarDetalleCedasOriginalClick(null);" >@Html.Raw(Idioma["Regresar"])</button></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="guardarDetalleCedasOriginal" name="guardarDetalleCedasOriginal"  class="btn btn-block btn-success" type="submit" onclick="return guardarDetalleCedasOriginalClick(null);" >@Html.Raw(Idioma["Guardar"])</button></div>
</div>
</div>
</div>
</form>
