@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript" >
var esNuevoDetalleCedasOriginal = true;
function regresarDetalleCedasOriginalClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")cedas_originales';
    return false;
}
function guardarDetalleCedasOriginalClick(e) {
    var lineaActual = '';
    var validacionCedasOriginal = true;
    var validacionCedasOriginalMensajes = '';
    document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).classList.remove('alreadyValidated');
    if (!document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).val().trim().length == 0) {
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.color = '#B94A48';
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.border = '1px solid #EED3D7';
            validacionCedasOriginal = false;
            validacionCedasOriginalMensajes += '@Html.Raw(Idioma["IdCedaSegalmexEsRequerido"])<br />';
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.color = '#468847';
            document.getElementById('editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!validacionCedasOriginal) {
        if ($('#validacionCedasOriginal').length == 0) {
            var contenido = '\r\n<div class="modal" data-backdrop="static" id="validacionCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="validacionCedasOriginalCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p><span id="validacionCedasOriginalError"></span></p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="validacionCedasOriginalCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
            $('body').append(contenido);
        }
        if (typeof $ != 'undefined') {
            $('#validacionCedasOriginal').modal({
                keyboard: false
            });
            $('#validacionCedasOriginal').modal('show');
        }
        document.getElementById('validacionCedasOriginalError').innerHTML = validacionCedasOriginalMensajes;
        return false;
    }
    var formData = new FormData($('#detalleCedasOriginal')[0]);
    $("#guardarDetalleCedasOriginal").prop("disabled", true);
    if ($('#cargadorGuardarCedasOriginal').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorGuardarCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorGuardarCedasOriginal').modal({
            keyboard: false
        });
        $('#cargadorGuardarCedasOriginal').modal('show');
    }
    $.ajax({
        type: 'POST',
        url: '@Url.Content("~/DetalleCedasOriginal/GuardarCedasOriginal")/@(ViewContext.RouteData.Values["identificador"] == null ? "_" : ViewContext.RouteData.Values["identificador"])',
        data: formData,
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        contentType: false,
        processData: false,
        error: function(jqXHR, textStatus, error) {
            $("#guardarDetalleCedasOriginal").prop("disabled", false);
            console.log(jqXHR.responseText);
            if (jqXHR.responseText.indexOf('NotUnique') > -1) {
                if ($('#guardarCedasOriginalUnico').length == 0) {
                    var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarCedasOriginalUnico" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarCedasOriginalUnicoCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["IdCedaSegalmexDebeSerUnico"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarCedasOriginalUnicoCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                    $('body').append(contenido);
                }
                if (typeof $ != 'undefined') {
                    $('#guardarCedasOriginalUnico').modal({
                        keyboard: false
                    });
                    $('#guardarCedasOriginalUnico').modal('show');
                }
                } else {
                if ($('#guardarCedasOriginal').length == 0) {
                    var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarCedasOriginalCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarCedasOriginalCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                    $('body').append(contenido);
                }
                if (typeof $ != 'undefined') {
                    $('#guardarCedasOriginal').modal({
                        keyboard: false
                    });
                    $('#guardarCedasOriginal').modal('show');
                }
            }
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarCedasOriginal').modal('hide');
            }
        },
        success: function(response) {
            $("#guardarDetalleCedasOriginal").prop("disabled", false);
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarCedasOriginal').modal('hide');
            }
            window.location = '@Url.Content("~/")cedas_originales';
        }
    });
    return false;
}
function recuperarDatosCedasOriginal() {
    $.ajax({
        url: '@Url.Content("~/")NuevoEditarCedasOriginal/FuenteDeDatosRecuperarCedasOriginal',
        type: 'POST',
        dataType: 'json',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            _csrf: antiforgeryToken,
            pagina: 0,
            tamanoDePagina: 0,
            llavePrimariaCedasOriginal: '@ViewContext.RouteData.Values["identificador"]'
        },
        failure: function(data) {
            console.log(data);
        },
        success: function(data) {
            console.log(data);
            $.each(data, function(i, item) {
                esNuevoDetalleCedasOriginal = false;
                $('#editarDapTonCedasOriginalDetalleCedasOriginal').val(item.dapTonCedasOriginal); // DAP (TON)  (Cedas Original)
                $('#editarUreaTonCedasOriginalDetalleCedasOriginal').val(item.ureaTonCedasOriginal); // UREA (TON)  (Cedas Original)
                $('#editarClaveCedasSaderCedasOriginalDetalleCedasOriginal').val(item.claveCedasSaderCedasOriginal); //CLAVE_CEDAS_SADER (Cedas Original)
                $('#editarEstadoCedasOriginalDetalleCedasOriginal').val(item.estadoCedasOriginal); //ESTADO (Cedas Original)
                $('#editarIdCedaSegalmexCedasOriginalDetalleCedasOriginal').val(item.idCedaSegalmexCedasOriginal); //ID CEDA SEGALMEX (Cedas Original)
                $('#editarRegionSegalmexCedasOriginalDetalleCedasOriginal').val(item.regionSegalmexCedasOriginal); //REGION SEGALMEX (Cedas Original)
            });
        }
    });
}
recuperarDatosCedasOriginal();</script>
