@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript" >
var esNuevoDetalleProductores = true;
function cedasDetalleDetalleProductoresChange(e) {
    var lineaActual = '';
    return false;
}
function regresarDetalleProductoresClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")productores';
    return false;
}
function guardarDetalleProductoresClick(e) {
    var lineaActual = '';
    var validacionProductores = true;
    var validacionProductoresMensajes = '';
    document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.remove('alreadyValidated');
    document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.remove('alreadyValidated');
    document.getElementById('cedasDetalleDetalleProductores' + lineaActual).classList.remove('alreadyValidated');
    if (!document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).val().trim().length == 0 && esNuevoDetalleProductores) {
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.color = '#B94A48';
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.border = '1px solid #EED3D7';
            validacionProductores = false;
            validacionProductoresMensajes += '@Html.Raw(Idioma["CurpProductorCuadernilloSaderEsRequerido"])<br />';
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.color = '#468847';
            document.getElementById('editarCurpProductorCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).val().trim().length == 0) {
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.color = '#B94A48';
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.border = '1px solid #EED3D7';
            validacionProductores = false;
            validacionProductoresMensajes += '@Html.Raw(Idioma["FolioCuadernilloSaderEsRequerido"])<br />';
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.color = '#468847';
            document.getElementById('editarFolioCuadernilloSaderProductoresDetalleProductores' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!document.getElementById('cedasDetalleDetalleProductores' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#cedasDetalleDetalleProductores' + lineaActual).val().trim().length == 0) {
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.color = '#B94A48';
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.border = '1px solid #EED3D7';
            validacionProductores = false;
            validacionProductoresMensajes += '@Html.Raw(Idioma["IdCedasEsRequerido"])<br />';
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.color = '#468847';
            document.getElementById('cedasDetalleDetalleProductores' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!validacionProductores) {
        if ($('#validacionProductores').length == 0) {
            var contenido = '\r\n<div class="modal" data-backdrop="static" id="validacionProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="validacionProductoresCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p><span id="validacionProductoresError"></span></p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="validacionProductoresCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
            $('body').append(contenido);
        }
        if (typeof $ != 'undefined') {
            $('#validacionProductores').modal({
                keyboard: false
            });
            $('#validacionProductores').modal('show');
        }
        document.getElementById('validacionProductoresError').innerHTML = validacionProductoresMensajes;
        return false;
    }
    var formData = new FormData($('#detalleProductores')[0]);
    $("#guardarDetalleProductores").prop("disabled", true);
    if ($('#cargadorGuardarProductores').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorGuardarProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorGuardarProductores').modal({
            keyboard: false
        });
        $('#cargadorGuardarProductores').modal('show');
    }
    $.ajax({
        type: 'POST',
        url: '@Url.Content("~/DetalleProductores/GuardarProductores")/@(ViewContext.RouteData.Values["identificador"] == null ? "_" : ViewContext.RouteData.Values["identificador"])',
        data: formData,
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        contentType: false,
        processData: false,
        error: function(jqXHR, textStatus, error) {
            $("#guardarDetalleProductores").prop("disabled", false);
            console.log(jqXHR.responseText);
            if (jqXHR.responseText.indexOf('NotUnique') > -1) {
                if ($('#guardarProductoresUnico').length == 0) {
                    var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarProductoresUnico" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarProductoresUnicoCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["CurpProductorCuadernilloSaderDebeSerUnico"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarProductoresUnicoCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                    $('body').append(contenido);
                }
                if (typeof $ != 'undefined') {
                    $('#guardarProductoresUnico').modal({
                        keyboard: false
                    });
                    $('#guardarProductoresUnico').modal('show');
                }
                } else {
                if ($('#guardarProductores').length == 0) {
                    var contenido = '\r\n<div class="modal" data-backdrop="static" id="guardarProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="guardarProductoresCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="guardarProductoresCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                    $('body').append(contenido);
                }
                if (typeof $ != 'undefined') {
                    $('#guardarProductores').modal({
                        keyboard: false
                    });
                    $('#guardarProductores').modal('show');
                }
            }
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarProductores').modal('hide');
            }
        },
        success: function(response) {
            $("#guardarDetalleProductores").prop("disabled", false);
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorGuardarProductores').modal('hide');
            }
            window.location = '@Url.Content("~/")productores';
        }
    });
    return false;
}
function recuperarDatosProductores() {
    $.ajax({
        url: '@Url.Content("~/")NuevoEditarProductores/FuenteDeDatosRecuperarProductores',
        type: 'POST',
        dataType: 'json',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            _csrf: antiforgeryToken,
            pagina: 0,
            tamanoDePagina: 0,
            llavePrimariaProductores: '@ViewContext.RouteData.Values["identificador"]'
        },
        failure: function(data) {
            console.log(data);
        },
        success: function(data) {
            console.log(data);
            $.each(data, function(i, item) {
                esNuevoDetalleProductores = false;
                $('#editarApellidoMaternoProductoresDetalleProductores').val(item.apellidoMaternoProductores); //APELLIDO MATERNO (Productores)
                $('#editarApellidoPaternoProductoresDetalleProductores').val(item.apellidoPaternoProductores); //APELLIDO PATERNO (Productores)
                $('#editarCurpProductorCuadernilloSaderProductoresDetalleProductores').val(item.curpProductorCuadernilloSaderProductores); //CURP PRODUCTOR CUADERNILLO SADER (Productores)
                if (item.fechaDeRegistroProductores != null) {
                    $('#editarFechaDeRegistroProductoresDetalleProductores').val(item.fechaDeRegistroProductores);
                } //Fecha de Registro (Productores)
                $('#editarFolioCuadernilloSaderProductoresDetalleProductores').val(item.folioCuadernilloSaderProductores); //FOLIO CUADERNILLO SADER (Productores)
                $('#cedasDetalleDetalleProductores').val(item.idCedasProductores); //ID CEDAS (Productores)
                $('#editarNoDeIdentificacionProductoresDetalleProductores').val(item.noDeIdentificacionProductores); //NO. DE IDENTIFICACIÓN (Productores)
                $('#editarNombresProductoresDetalleProductores').val(item.nombresProductores); //NOMBRE(S) (Productores)
            });
        }
    });
}
recuperarDatosProductores();</script>
