@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="detalleProductores" name="detalleProductores" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarApellidoMaternoProductoresDetalleProductores">@Html.Raw(Idioma["ApellidoMaterno"])</label>
<input type="text" id="editarApellidoMaternoProductoresDetalleProductores" name="editarApellidoMaternoProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarApellidoPaternoProductoresDetalleProductores">@Html.Raw(Idioma["ApellidoPaterno"])</label>
<input type="text" id="editarApellidoPaternoProductoresDetalleProductores" name="editarApellidoPaternoProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarCurpProductorCuadernilloSaderProductoresDetalleProductores">@Html.Raw(Idioma["CurpProductorCuadernilloSader"])</label>
<input type="text" id="editarCurpProductorCuadernilloSaderProductoresDetalleProductores" name="editarCurpProductorCuadernilloSaderProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarFechaDeRegistroProductoresDetalleProductores">@Html.Raw(Idioma["FechaDeRegistro"])</label>
<input  class="form-control"  type="datetime-local" id="editarFechaDeRegistroProductoresDetalleProductores" name="editarFechaDeRegistroProductoresDetalleProductores" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarFolioCuadernilloSaderProductoresDetalleProductores">@Html.Raw(Idioma["FolioCuadernilloSader"])</label>
<input type="text" id="editarFolioCuadernilloSaderProductoresDetalleProductores" name="editarFolioCuadernilloSaderProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="cedasDetalleDetalleProductores">@Html.Raw(Idioma["Cedas"])</label>
<select  class="form-control"  id="cedasDetalleDetalleProductores" name="cedasDetalleDetalleProductores" >
<option value="">@Html.Raw(Idioma["Ninguno"])</option>
@{var datosCedasNuevoEditarProductores = ViewData["FuenteDeDatosCedasDetalle"] as IList<Codium.Web.Models.MysqlrRepositorios.DTO.ListaCedas>; }
@if(datosCedasNuevoEditarProductores != null && datosCedasNuevoEditarProductores.Count > 0)
{
    foreach (var listaCedas in datosCedasNuevoEditarProductores)
    {
        @Html.Raw("<option value=\"")
        @Html.Raw(listaCedas.LlavePrimariaCedas)
        @Html.Raw("\">")
        @Html.Raw(listaCedas.IdCedaSegalmexCedas)
        @Html.Raw("</option>")
    }
}
</select>
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarNoDeIdentificacionProductoresDetalleProductores">@Html.Raw(Idioma["NoDeIdentificacion"])</label>
<input type="text" id="editarNoDeIdentificacionProductoresDetalleProductores" name="editarNoDeIdentificacionProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="editarNombresProductoresDetalleProductores">@Html.Raw(Idioma["Nombres"])</label>
<input type="text" id="editarNombresProductoresDetalleProductores" name="editarNombresProductoresDetalleProductores"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="regresarDetalleProductores" name="regresarDetalleProductores"  class="btn btn-block btn-danger" type="button" onclick="return regresarDetalleProductoresClick(null);" >@Html.Raw(Idioma["Regresar"])</button></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="guardarDetalleProductores" name="guardarDetalleProductores"  class="btn btn-block btn-success" type="submit" onclick="return guardarDetalleProductoresClick(null);" >@Html.Raw(Idioma["Guardar"])</button></div>
</div>
</div>
</div>
</form>
