@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="detalleCedas" name="detalleCedas" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarClaveCedasSaderCedasDetalleCedas">@Html.Raw(Idioma["ClaveCedasSader"])</label>
<input type="text" id="editarClaveCedasSaderCedasDetalleCedas" name="editarClaveCedasSaderCedasDetalleCedas"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarEstadoCedasDetalleCedas">@Html.Raw(Idioma["Estado"])</label>
<input type="text" id="editarEstadoCedasDetalleCedas" name="editarEstadoCedasDetalleCedas"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div>
<div class="form-group">
<label for="editarDecimalesCedasDetalleCedas">@Html.Raw(Idioma["Decimales"])</label>
<input type="number" id="editarDecimalesCedasDetalleCedas" name="editarDecimalesCedasDetalleCedas"  class="form-control"  step="@Html.Raw(Idioma["Paso4"])" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarIdCedaSegalmexCedasDetalleCedas">@Html.Raw(Idioma["IdCedaSegalmex"])</label>
<input type="text" id="editarIdCedaSegalmexCedasDetalleCedas" name="editarIdCedaSegalmexCedasDetalleCedas"  class="form-control"  maxlength="@Html.Raw(Idioma["LargoMaximo1000"])"  />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="editarLogotipoCedasDetalleCedas">@Html.Raw(Idioma["Logotipo"])</label>
<input  class="form-control-file"  type="file" id="editarLogotipoCedasDetalleCedas" name="editarLogotipoCedasDetalleCedas" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="form-group">
<label for="urlDetalleCedas">@Html.Raw(Idioma["UrlTitulo"])</label>
<input type="text" id="urlDetalleCedas" name="urlDetalleCedas"  class="form-control"   />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="regresarDetalleCedas" name="regresarDetalleCedas"  class="btn btn-block btn-danger" type="button" onclick="return regresarDetalleCedasClick(null);" >@Html.Raw(Idioma["Regresar"])</button></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<button id="guardarDetalleCedas" name="guardarDetalleCedas"  class="btn btn-block btn-success" type="submit" onclick="return guardarDetalleCedasClick(null);" >@Html.Raw(Idioma["Guardar"])</button></div>
</div>
</div>
</div>
</form>
