@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/node_modules/imask/dist/imask.min.js"></script><script type="text/javascript" >
var esNuevoDetalleCedas = true;
var urlDetalleCedasMask = IMask(document.getElementById('urlDetalleCedas'), {
    mask: '@Html.Raw(Idioma["Telefono"])',
    lazy: true
});
function urlDetalleCedasChange(e) {
    var lineaActual = '';
}
function regresarDetalleCedasClick(e) {
    var lineaActual = '';
    window.location = '@Url.Content("~/")cedas';
    return false;
}
function guardarDetalleCedasClick(e) {
    var lineaActual = '';
    var validacionCedas = true;
    var validacionCedasMensajes = '';
    document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).classList.remove('alreadyValidated');
    document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).classList.remove('alreadyValidated');
    if (!document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).val().trim().length == 0) {
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.color = '#B94A48';
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.border = '1px solid #EED3D7';
            validacionCedas = false;
            validacionCedasMensajes += '@Html.Raw(Idioma["IdCedaSegalmexEsRequerido"])<br />';
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.color = '#468847';
            document.getElementById('editarIdCedaSegalmexCedasDetalleCedas' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).classList.contains('alreadyValidated')) {
        if ($('#editarLogotipoCedasDetalleCedas' + lineaActual).get(0).files.length == 0 && esNuevoDetalleCedas) {
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.backgroundColor = '#F2DEDE';
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.color = '#B94A48';
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.border = '1px solid #EED3D7';
            validacionCedas = false;
            validacionCedasMensajes += '@Html.Raw(Idioma["LogotipoEsRequerido"])<br />';
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).classList.add('alreadyValidated');
            } else {
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.backgroundColor = '#DFF0D8';
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.color = '#468847';
            document.getElementById('editarLogotipoCedasDetalleCedas' + lineaActual).style.border = '1px solid #D6E9C6';
        }
    }
    if (!validacionCedas) {
        if ($('#validacionCedas').length == 0) {
            var contenido = '\r\n<div class="modal" data-backdrop="static" id="validacionCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="validacionCedasCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p><span id="validacionCedasError"></span></p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="validacionCedasCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
            $('body').append(contenido);
        }
        if (typeof $ != 'undefined') {
            $('#validacionCedas').modal({
                keyboard: false
            });
            $('#validacionCedas').modal('show');
        }
        document.getElementById('validacionCedasError').innerHTML = validacionCedasMensajes;
        return false;
    }
    var formData = new FormData($('#detalleCedas')[0]);
    $("#guardarDetalleCedas").prop("disabled", true);
    if ($('#cargadorNuevoNotificacionesWeb').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorNuevoNotificacionesWeb" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorNuevoNotificacionesWeb').modal({
            keyboard: false
        });
        $('#cargadorNuevoNotificacionesWeb').modal('show');
    }
    $.ajax({
        type: 'POST',
        url: '@Url.Content("~/DetalleCedas/NuevoNotificacionesWeb")/@(ViewContext.RouteData.Values["identificador"] == null ? "_" : ViewContext.RouteData.Values["identificador"])',
        data: formData,
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        contentType: false,
        processData: false,
        error: function(jqXHR, textStatus, error) {
            $("#guardarDetalleCedas").prop("disabled", false);
            console.log(jqXHR.responseText);
            if ($('#nuevoNotificacionesWeb').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="nuevoNotificacionesWeb" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="nuevoNotificacionesWebCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="nuevoNotificacionesWebCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#nuevoNotificacionesWeb').modal({
                    keyboard: false
                });
                $('#nuevoNotificacionesWeb').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorNuevoNotificacionesWeb').modal('hide');
            }
        },
        success: function(response) {
            $("#guardarDetalleCedas").prop("disabled", false);
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorNuevoNotificacionesWeb').modal('hide');
            }
            window.location = '@Url.Content("~/")cedas';
        }
    });
    return false;
}
function recuperarDatosCedas() {
    $.ajax({
        url: '@Url.Content("~/")NuevoEditarCedas/FuenteDeDatosRecuperarCedas',
        type: 'POST',
        dataType: 'json',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken,
            'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
        },
        data: {
            _csrf: antiforgeryToken,
            pagina: 0,
            tamanoDePagina: 0,
            llavePrimariaCedas: '@ViewContext.RouteData.Values["identificador"]'
        },
        failure: function(data) {
            console.log(data);
        },
        success: function(data) {
            console.log(data);
            $.each(data, function(i, item) {
                esNuevoDetalleCedas = false;
                $('#editarClaveCedasSaderCedasDetalleCedas').val(item.claveCedasSaderCedas); //CLAVE_CEDAS_SADER (Cedas)
                $('#editarDecimalesCedasDetalleCedas').val(item.decimalesCedas); //Decimales (Cedas)
                $('#editarEstadoCedasDetalleCedas').val(item.estadoCedas); //ESTADO (Cedas)
                $('#editarIdCedaSegalmexCedasDetalleCedas').val(item.idCedaSegalmexCedas); //ID CEDA SEGALMEX (Cedas)
            });
        }
    });
}
recuperarDatosCedas();</script>
