@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="formularioDeLogin" name="formularioDeLogin" method="POST" enctype="multipart/form-data"><div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="usuarioFormularioDeLogin">@Html.Raw(Idioma["Usuario"])</label>
<input type="text" id="usuarioFormularioDeLogin" name="usuarioFormularioDeLogin"  class="form-control"   />
</div></div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
<div class="form-group">
<label for="contrasenaFormularioDeLogin">@Html.Raw(Idioma["Contrasena"])</label>
<input  class="form-control"  type="password" id="contrasenaFormularioDeLogin" name="contrasenaFormularioDeLogin" />
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
<button id="ingresarFormularioDeLogin" name="ingresarFormularioDeLogin"  class="btn" type="submit">@Html.Raw(Idioma["Ingresar"])</button></div>
</div>
</div>
</div>
</form>
