@using Microsoft.AspNetCore.Http;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
<script type="text/javascript">
$('#ingresarFormularioDeLogin').click(function(){
    var formData = new FormData($('#formularioDeLogin')[0]);
    $("#ingresarFormularioDeLogin").prop("disabled", true);
    if ($('#cargadorLogin').length==0){
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorLogin" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorLogin').modal({
            keyboard: false
        });
        $('#cargadorLogin').modal('show');
    }
    $.ajax(
    {
        type: 'POST',
        url: '@Url.Content("~/Login/Validar")',
        data: formData,
        headers:{'RequestVerificationToken':antiforgeryToken,'X-CSRF-TOKEN':antiforgeryToken},
        contentType: false,
        processData: false,
        error:function(jqXHR, textStatus, error){
            $("#ingresarFormularioDeLogin").prop("disabled", false);
            console.log(jqXHR.responseText);
            if ($('#login').length==0){
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="login" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="loginCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["Hola"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="loginCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#login').modal({
                    keyboard: false
                });
                $('#login').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorLogin').modal('hide');
            }
        },
        success:function(data){
            $("#ingresarFormularioDeLogin").prop("disabled", false);
            location = data.url;
            console.log(data);
            if (typeof $ != 'undefined') {
                $('#cargadorLogin').modal('hide');
            }
        }
    });
    return false;
});
</script>
