@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
<div class="pruebaDeHorizontal">
<ul>
<li>
<a href="~/cedas_originales"><span>@Html.Raw(Idioma["CedasOriginales"])</span></a>
</li>
<li>
<a href="~/inicio"><span>@Html.Raw(Idioma["Inicio"])</span></a>
</li>
<li>
<a href="~/cedas"><span>@Html.Raw(Idioma["Cedas"])</span></a>
</li>
<li>
<a href="~/productores"><span>@Html.Raw(Idioma["Productores"])</span></a>
</li>
<li>
<a href="~/cerrar_sesion"><span>@Html.Raw(Idioma["CerrarSesionMenu"])</span></a>
</li>

</ul>
</div>