
<!-- PushAlert -->
<script type="text/javascript">
        (function(d, t) {
                var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
                g.src = "https://cdn.pushalert.co/integrate_b75524b649f7a1aebc27b9313a570381.js";
                s.parentNode.insertBefore(g, s);
        }(document, "script"));
</script>
<!-- End PushAlert -->

<script>
    (pushalertbyiw = window.pushalertbyiw || []).push(['addToSegment', 15912, callbackFunction]);
    
    function callbackFunction(result){
        console.log(result.success) // True or False
    }
</script>
