@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@{var listaMenus = ViewData["ListaMenus"] as IList<Codium.Web.Models.MysqlrRepositorios.DTO.ListaDeMenus>; }
@if(listaMenus == null || listaMenus.Count == 0)
{
}
else
{
    foreach (var listaDeMenus in listaMenus)
    {
        @Html.Raw(listaDeMenus.PruebaDeImagenMenus)
        @Html.Raw(" ")
        @Html.Raw(listaDeMenus.PruebaDeDescargaMenus)
        @Html.Raw("<br />")
    }
}
