@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
<script src="~/node_modules/lc-select/lc_select.min.js"></script>
<script>
new lc_select(document.querySelector('#nuevoCambiarIdioma'),{
    wrap_width : '100%'
});
</script>
