@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div id="tablaDeDatosProductores"></div>
