@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="~/node_modules/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript">
function deshabilitadoProductoresModel(callback, llavePrimaria) {
    if ($('#cargadorDeshabilitadoProductores').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorDeshabilitadoProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorDeshabilitadoProductores').modal({
            keyboard: false
        });
        $('#cargadorDeshabilitadoProductores').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosProductores/DeshabilitadoProductores")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#deshabilitadoProductores').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="deshabilitadoProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="deshabilitadoProductoresCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="deshabilitadoProductoresCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#deshabilitadoProductores').modal({
                    keyboard: false
                });
                $('#deshabilitadoProductores').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoProductores').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoProductores').modal('hide');
            }
            callback();
        }
    });
}
function habilitadoProductoresModel(callback, llavePrimaria) {
    if ($('#cargadorHabilitadoProductores').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorHabilitadoProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorHabilitadoProductores').modal({
            keyboard: false
        });
        $('#cargadorHabilitadoProductores').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosProductores/HabilitadoProductores")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#habilitadoProductores').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="habilitadoProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="habilitadoProductoresCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="habilitadoProductoresCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#habilitadoProductores').modal({
                    keyboard: false
                });
                $('#habilitadoProductores').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoProductores').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoProductores').modal('hide');
            }
            callback();
        }
    });
}
function confirmarProductoresModel() {
    if ($('#confirmarProductores').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="confirmarProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Confirmar"])</h5>\r\n        <button type="button" class="confirmarProductoresCerrar close" data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["ConfirmaQueDeseaBorrarEsteElemento"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="confirmarProductoresCerrar btn btn-secondary" data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n        <button type="button" class="confirmarProductoresAceptar btn btn-primary" >@Html.Raw(Idioma["Aceptar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#confirmarProductores').modal({
            keyboard: false
        });
        $('#confirmarProductores').modal('show');
    }
}
function borrarProductoresModel(callback, llavePrimaria) {
    if ($('#cargadorBorrarProductores').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorBorrarProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorBorrarProductores').modal({
            keyboard: false
        });
        $('#cargadorBorrarProductores').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosProductores/BorrarProductores")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#borrarProductores').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="borrarProductores" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="borrarProductoresCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="borrarProductoresCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#borrarProductores').modal({
                    keyboard: false
                });
                $('#borrarProductores').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarProductores').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarProductores').modal('hide');
            }
            callback();
        }
    });
}
tablaDeDatosProductoresTabla = new Tabulator('#tablaDeDatosProductores', {
    columnVertAlign: 'bottom',
    groupBy: [],
    groupStartOpen: false,
    groupToggleElement: 'header',
    groupHeader: function(value, count, data, group) {
        return value + ' (' + count + ')';
    },
    locale: 'L',
    langs: {
        'L': {
            'data': {
                'loading': '@Html.Raw(Idioma["Procesando"])',
                'error': '@Html.Raw(Idioma["OcurrioUnError"])'
            },
            'pagination': {
                'page_size': '@Html.Raw(Idioma["TamanoDePagina"])',
                'first': '@Html.Raw(Idioma["Primero"])',
                'first_title': '@Html.Raw(Idioma["Primero"])',
                'last': '@Html.Raw(Idioma["Ultimo"])',
                'last_title': '@Html.Raw(Idioma["Ultimo"])',
                'prev': '@Html.Raw(Idioma["Anterior"])',
                'prev_title': '@Html.Raw(Idioma["Anterior"])',
                'next': '@Html.Raw(Idioma["Siguiente"])',
                'next_title': '@Html.Raw(Idioma["Siguiente"])',
            }
        }
    },
    sortMode: 'remote',
    pagination: true,
    printAsHtml: true,
    printVisibleRows: false,
    printCopyStyle: true,
    layout: 'fitDataFill',
    columns: [{
        title: '@Html.Raw(Idioma["ApellidoMaterno"])',
        field: 'apellidoMaternoProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["ApellidoPaterno"])',
        field: 'apellidoPaternoProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["CurpProductorCuadernilloSader"])',
        field: 'curpProductorCuadernilloSaderProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["FolioCuadernilloSader"])',
        field: 'folioCuadernilloSaderProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["FechaDeRegistro"])',
        field: 'fechaDeRegistroProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["IdCedaSegalmex"])',
        field: 'idCedaSegalmexCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["NoDeIdentificacion"])',
        field: 'noDeIdentificacionProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Nombres"])',
        field: 'nombresProductores',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Estatus"])',
        field: 'nombreEstatus',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["HabilitadoDeshabilitado"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '' + (cell.getData().estatusProductores == 1 ? '<a href="javascript:;" onclick="deshabilitadoProductoresModel(function(){tablaDeDatosProductoresTabla.replaceData();},\'' + cell.getData().llavePrimariaProductores + '\');"><input  class="" src="/assets/Prueba_Enabled.png" type="image" id="habilitadoTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" name="habilitadoTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" /> </a>' : '') + '' + (cell.getData().estatusProductores == 2 ? '<a href="javascript:;" onclick="habilitadoProductoresModel(function(){tablaDeDatosProductoresTabla.replaceData();},\'' + cell.getData().llavePrimariaProductores + '\');"><input  class="" src="/assets/Prueba_Disabled.png" type="image" id="deshabilitadoTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" name="deshabilitadoTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" /> </a>' : '') + '';
        }
    },
    {
        title: '@Html.Raw(Idioma["Editar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="window.location=\'@Url.Content("~/")productores/editar/' + cell.getData().llavePrimariaEncriptadoProductores + '\';"><input  class="" src="/assets/Prueba_Edit.png" type="image" id="editarTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" name="editarTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" /> </a>';
        }
    },
    {
        title: '@Html.Raw(Idioma["Borrar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="confirmarProductoresModel();$(\'.confirmarProductoresAceptar\').unbind(\'click\');$(\'.confirmarProductoresAceptar\').click(function(){if (typeof $ != \'undefined\') {  $(\'#confirmarProductores\').modal(\'hide\');}borrarProductoresModel(function(){tablaDeDatosProductoresTabla.replaceData();},\'' + cell.getData().llavePrimariaProductores + '\');});"><input  class="" src="/assets/Prueba_Delete.png" type="image" id="borrarTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" name="borrarTablaDeDatosProductores' + cell.getData().llavePrimariaProductores + '" /> </a>';
        }
    },
    ],
    ajaxURL: '/Productores/FuenteDeDatosTablaDeDatosProductoresCompleto',
    ajaxParams: function() {
        return {
            _csrf: antiforgeryToken,
            apellidoMaternoProductores: $('#buscarTerminoBuscarProductores').val(),
            apellidoPaternoProductores: $('#buscarTerminoBuscarProductores').val(),
            curpProductorCuadernilloSaderProductores: $('#buscarTerminoBuscarProductores').val(),
            folioCuadernilloSaderProductores: $('#buscarTerminoBuscarProductores').val(),
            idCedasProductores: $('#cedasBuscarProductores').val(),
            idCedaSegalmexCedas: $('#buscarTerminoBuscarProductores').val(),
            noDeIdentificacionProductores: $('#buscarTerminoBuscarProductores').val(),
            nombresProductores: $('#buscarTerminoBuscarProductores').val()
        }
    },
    ajaxConfig: {
        method: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
    },
    ajaxRequesting: function(url, params) {
    },
    ajaxResponse: function(url, params, response) {
        return response;
    },
    dataReceiveParams: {
        'last_page': 'total',
        'data': 'datos'
    },
    dataSendParams: {
        'page': 'pagina',
        'size': 'tamanoDePagina'
    },
    responsiveLayout: 'collapse',
    persistence: {
        sort: true,
        group: false,
        page: {
            size: true,
            page: false,
        }
    },
    paginationMode: 'remote',
    paginationSize: 10,
    paginationSizeSelector: [10, 25, 50, 100],
});
</script>
