@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="~/node_modules/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript">
function tablaAnidadaModel(llavePrimaria, llavePrimariaCedas) {
    if (document.getElementById('tablaAnidadaContenedor' + llavePrimaria).style.display == 'none') {
        document.getElementById('tablaAnidadaContenedor' + llavePrimaria).style.display = 'block';
        document.getElementById('abrirTablaDeDatosCedas' + llavePrimaria).src = '/assets/Prueba_Quitar.png';
        } else {
        document.getElementById('tablaAnidadaContenedor' + llavePrimaria).style.display = 'none';
        document.getElementById('abrirTablaDeDatosCedas' + llavePrimaria).src = '/assets/Prueba_Add.png';
    }
    tablaAnidadaTabla = new Tabulator('#tablaAnidada' + llavePrimaria, {
        columnVertAlign: 'bottom',
        groupBy: [],
        groupStartOpen: false,
        groupToggleElement: 'header',
        groupHeader: function(value, count, data, group) {
            return value + ' (' + count + ')';
        },
        locale: 'L',
        langs: {
            'L': {
                'data': {
                    'loading': '@Html.Raw(Idioma["Procesando"])',
                    'error': '@Html.Raw(Idioma["OcurrioUnError"])'
                },
                'pagination': {
                    'page_size': '@Html.Raw(Idioma["TamanoDePagina"])',
                    'first': '@Html.Raw(Idioma["Primero"])',
                    'first_title': '@Html.Raw(Idioma["Primero"])',
                    'last': '@Html.Raw(Idioma["Ultimo"])',
                    'last_title': '@Html.Raw(Idioma["Ultimo"])',
                    'prev': '@Html.Raw(Idioma["Anterior"])',
                    'prev_title': '@Html.Raw(Idioma["Anterior"])',
                    'next': '@Html.Raw(Idioma["Siguiente"])',
                    'next_title': '@Html.Raw(Idioma["Siguiente"])',
                }
            }
        },
        sortMode: 'remote',
        pagination: true,
        printAsHtml: true,
        printVisibleRows: false,
        printCopyStyle: true,
        layout: 'fitDataFill',
        columns: [{
            title: '@Html.Raw(Idioma["IdCedas"])',
            field: 'llavePrimariaCedas',
            width: 200,
            hozAlign: 'left',
            headerTooltip: '',
            download: true,
            frozen: false,
            visible: true,
            print: true,
            headerVertical: false,
            cssClass: '',
            formatter: 'html'
        },
        {
            title: '@Html.Raw(Idioma["DapTon"])',
            field: 'claveCedasSaderCedas',
            width: 200,
            hozAlign: 'left',
            headerTooltip: '',
            download: true,
            frozen: false,
            visible: true,
            print: true,
            headerVertical: false,
            cssClass: '',
            formatter: 'html'
        },
        {
            title: '@Html.Raw(Idioma["IdCedaSegalmex"])',
            field: 'idCedaSegalmexCedas',
            width: 200,
            hozAlign: 'left',
            headerTooltip: '',
            download: true,
            frozen: false,
            visible: true,
            print: true,
            headerVertical: false,
            cssClass: '',
            formatter: 'html'
        },
        ],
        ajaxURL: '/Cedas/ListaDetalleCedasCompleto',
        ajaxParams: function() {
            return {
                _csrf: antiforgeryToken,
                llavePrimariaCedas: llavePrimariaCedas
            }
        },
        ajaxConfig: {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiforgeryToken,
                'X-CSRF-TOKEN': antiforgeryToken,
                'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
            },
        },
        ajaxRequesting: function(url, params) {},
        ajaxResponse: function(url, params, response) {
            return response;
        },
        dataReceiveParams: {
            'last_page': 'total',
            'data': 'datos'
        },
        dataSendParams: {
            'page': 'pagina',
            'size': 'tamanoDePagina'
        },
        responsiveLayout: 'collapse',
        persistence: {
            sort: true,
            group: false,
            page: {
                size: true,
                page: false,
            }
        },
        paginationMode: 'remote',
        paginationSize: 10,
        paginationSizeSelector: [10, 25, 50, 100],
    });
}
function deshabilitadoCedasModel(callback, llavePrimaria) {
    if ($('#cargadorDeshabilitadoCedas').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorDeshabilitadoCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorDeshabilitadoCedas').modal({
            keyboard: false
        });
        $('#cargadorDeshabilitadoCedas').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedas/DeshabilitadoCedas")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken,
            'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#deshabilitadoCedas').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="deshabilitadoCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="deshabilitadoCedasCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="deshabilitadoCedasCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#deshabilitadoCedas').modal({
                    keyboard: false
                });
                $('#deshabilitadoCedas').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoCedas').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoCedas').modal('hide');
            }
            callback();
        }
    });
}
function habilitadoCedasModel(callback, llavePrimaria) {
    if ($('#cargadorHabilitadoCedas').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorHabilitadoCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorHabilitadoCedas').modal({
            keyboard: false
        });
        $('#cargadorHabilitadoCedas').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedas/HabilitadoCedas")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken,
            'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#habilitadoCedas').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="habilitadoCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="habilitadoCedasCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="habilitadoCedasCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#habilitadoCedas').modal({
                    keyboard: false
                });
                $('#habilitadoCedas').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoCedas').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoCedas').modal('hide');
            }
            callback();
        }
    });
}
function confirmarCedasModel() {
    if ($('#confirmarCedas').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="confirmarCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Confirmar"])</h5>\r\n        <button type="button" class="confirmarCedasCerrar close" data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["ConfirmaQueDeseaBorrarEsteElemento"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="confirmarCedasCerrar btn btn-secondary" data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n        <button type="button" class="confirmarCedasAceptar btn btn-primary" >@Html.Raw(Idioma["Aceptar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#confirmarCedas').modal({
            keyboard: false
        });
        $('#confirmarCedas').modal('show');
    }
}
function borrarCedasModel(callback, llavePrimaria) {
    if ($('#cargadorBorrarCedas').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorBorrarCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorBorrarCedas').modal({
            keyboard: false
        });
        $('#cargadorBorrarCedas').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedas/BorrarCedas")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken,
            'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#borrarCedas').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="borrarCedas" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="borrarCedasCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="borrarCedasCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#borrarCedas').modal({
                    keyboard: false
                });
                $('#borrarCedas').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarCedas').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarCedas').modal('hide');
            }
            callback();
        }
    });
}
tablaDeDatosCedasTabla = new Tabulator('#tablaDeDatosCedas', {
    columnVertAlign: 'bottom',
    groupBy: [],
    groupStartOpen: false,
    groupToggleElement: 'header',
    groupHeader: function(value, count, data, group) {
        return value + ' (' + count + ')';
    },
    locale: 'L',
    langs: {
        'L': {
            'data': {
                'loading': '@Html.Raw(Idioma["Procesando"])',
                'error': '@Html.Raw(Idioma["OcurrioUnError"])'
            },
            'pagination': {
                'page_size': '@Html.Raw(Idioma["TamanoDePagina"])',
                'first': '@Html.Raw(Idioma["Primero"])',
                'first_title': '@Html.Raw(Idioma["Primero"])',
                'last': '@Html.Raw(Idioma["Ultimo"])',
                'last_title': '@Html.Raw(Idioma["Ultimo"])',
                'prev': '@Html.Raw(Idioma["Anterior"])',
                'prev_title': '@Html.Raw(Idioma["Anterior"])',
                'next': '@Html.Raw(Idioma["Siguiente"])',
                'next_title': '@Html.Raw(Idioma["Siguiente"])',
            }
        }
    },
    rowFormatter: function(row) {
        // Tabla Anidada
        var tablaAnidadaContenedor = document.createElement("div");
        var tablaAnidadaTablaDeDatos = document.createElement("div");
        tablaAnidadaContenedor.style.padding = '10px';
        tablaAnidadaContenedor.style.display = 'none';
        tablaAnidadaContenedor.style.borderTop = '1px solid #333';
        tablaAnidadaContenedor.style.borderBottom = '1px solid #333';
        tablaAnidadaContenedor.id = 'tablaAnidadaContenedor' + row.getData().llavePrimariaCedas;
        tablaAnidadaTablaDeDatos.id = 'tablaAnidada' + row.getData().llavePrimariaCedas;
        tablaAnidadaContenedor.appendChild(tablaAnidadaTablaDeDatos);
        row.getElement().appendChild(tablaAnidadaContenedor);
    },
    sortMode: 'remote',
    pagination: true,
    printAsHtml: true,
    printVisibleRows: false,
    printCopyStyle: true,
    layout: 'fitDataFill',
    columns: [{
        title: '',
        width: 80,
        hozAlign: 'left',
        headerTooltip: '',
        download: false,
        frozen: false,
        visible: true,
        print: false,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="tablaAnidadaModel(' + cell.getData().llavePrimariaCedas + ', ' + cell.getData().llavePrimariaCedas + ');"><input  class="" src="/assets/Prueba_Add.png" type="image" id="abrirTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" name="abrirTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" /> </a>';
        }
    },
    {
        title: '@Html.Raw(Idioma["ClaveCedasSader"])',
        field: 'claveCedasSaderCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '@Html.Raw(Idioma["ClaveCedasSader"])',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Estado"])',
        field: 'estadoCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '@Html.Raw(Idioma["Estado"])',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Decimales"])',
        field: 'decimalesCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["IdCedaSegalmex"])',
        field: 'idCedaSegalmexCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Estatus"])',
        field: 'nombreEstatus',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["HabilitadoDeshabilitado"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '' + (cell.getData().estatusCedas == 1 ? '<a href="javascript:;" onclick="deshabilitadoCedasModel(function(){tablaDeDatosCedasTabla.replaceData();},\'' + cell.getData().llavePrimariaCedas + '\');"><input  class="" src="/assets/Prueba_Enabled.png" type="image" id="habilitadoTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" name="habilitadoTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" /> </a>' : '') + '' + (cell.getData().estatusCedas == 2 ? '<a href="javascript:;" onclick="habilitadoCedasModel(function(){tablaDeDatosCedasTabla.replaceData();},\'' + cell.getData().llavePrimariaCedas + '\');"><input  class="" src="/assets/Prueba_Disabled.png" type="image" id="deshabilitadoTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" name="deshabilitadoTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" /> </a>' : '') + '';
        }
    },
    {
        title: '@Html.Raw(Idioma["Logotipo"])',
        field: 'descargarLogotipoCedas',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Editar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="window.location=\'@Url.Content("~/")cedas/editar/' + cell.getData().llavePrimariaEncriptadoCedas + '\';"><input  class="" src="/assets/Prueba_Edit.png" type="image" id="editarTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" name="editarTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" /> </a>';
        }
    },
    {
        title: '@Html.Raw(Idioma["Borrar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="confirmarCedasModel();$(\'.confirmarCedasAceptar\').unbind(\'click\');$(\'.confirmarCedasAceptar\').click(function(){if (typeof $ != \'undefined\') {  $(\'#confirmarCedas\').modal(\'hide\');}borrarCedasModel(function(){tablaDeDatosCedasTabla.replaceData();},\'' + cell.getData().llavePrimariaCedas + '\');});"><input  class="" src="/assets/Prueba_Delete.png" type="image" id="borrarTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" name="borrarTablaDeDatosCedas' + cell.getData().llavePrimariaCedas + '" /> </a>';
        }
    },
    ],
    ajaxURL: '/Cedas/FuenteDeDatosTablaDeDatosCedasCompleto',
    ajaxParams: function() {
        return {
            _csrf: antiforgeryToken,
            claveCedasSaderCedas: $('#buscarTerminoBuscarCedas').val(),
            estadoCedas: $('#buscarTerminoBuscarCedas').val(),
            idCedaSegalmexCedas: $('#buscarTerminoBuscarCedas').val()
        }
    },
    ajaxConfig: {
        method: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken,
            'Authorization': 'Bearer ' + ('; ' + document.cookie).split('; jwt.token=').pop().split(';').shift()
        },
    },
    ajaxRequesting: function(url, params) {
    },
    ajaxResponse: function(url, params, response) {
        return response;
    },
    dataReceiveParams: {
        'last_page': 'total',
        'data': 'datos'
    },
    dataSendParams: {
        'page': 'pagina',
        'size': 'tamanoDePagina'
    },
    responsiveLayout: 'collapse',
    persistence: {
        sort: true,
        group: false,
        page: {
            size: true,
            page: false,
        }
    },
    paginationMode: 'remote',
    paginationSize: 10,
    paginationSizeSelector: [10, 25, 50, 100],
});
</script>
