@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@inject IConfiguration Configuracion
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="~/node_modules/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript">
function deshabilitadoCedasOriginalModel(callback, llavePrimaria) {
    if ($('#cargadorDeshabilitadoCedasOriginal').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorDeshabilitadoCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorDeshabilitadoCedasOriginal').modal({
            keyboard: false
        });
        $('#cargadorDeshabilitadoCedasOriginal').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedasOriginal/DeshabilitadoCedasOriginal")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#deshabilitadoCedasOriginal').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="deshabilitadoCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="deshabilitadoCedasOriginalCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="deshabilitadoCedasOriginalCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#deshabilitadoCedasOriginal').modal({
                    keyboard: false
                });
                $('#deshabilitadoCedasOriginal').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoCedasOriginal').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorDeshabilitadoCedasOriginal').modal('hide');
            }
            callback();
        }
    });
}
function habilitadoCedasOriginalModel(callback, llavePrimaria) {
    if ($('#cargadorHabilitadoCedasOriginal').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorHabilitadoCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorHabilitadoCedasOriginal').modal({
            keyboard: false
        });
        $('#cargadorHabilitadoCedasOriginal').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedasOriginal/HabilitadoCedasOriginal")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#habilitadoCedasOriginal').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="habilitadoCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="habilitadoCedasOriginalCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="habilitadoCedasOriginalCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#habilitadoCedasOriginal').modal({
                    keyboard: false
                });
                $('#habilitadoCedasOriginal').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoCedasOriginal').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorHabilitadoCedasOriginal').modal('hide');
            }
            callback();
        }
    });
}
function confirmarCedasOriginalModel() {
    if ($('#confirmarCedasOriginal').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="confirmarCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Confirmar"])</h5>\r\n        <button type="button" class="confirmarCedasOriginalCerrar close" data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["ConfirmaQueDeseaBorrarEsteElemento"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="confirmarCedasOriginalCerrar btn btn-secondary" data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n        <button type="button" class="confirmarCedasOriginalAceptar btn btn-primary" >@Html.Raw(Idioma["Aceptar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#confirmarCedasOriginal').modal({
            keyboard: false
        });
        $('#confirmarCedasOriginal').modal('show');
    }
}
function borrarCedasOriginalModel(callback, llavePrimaria) {
    if ($('#cargadorBorrarCedasOriginal').length == 0) {
        var contenido = '\r\n<div class="modal" data-backdrop="static" id="cargadorBorrarCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-body">\r\n        <p><span style="margin:auto;display:block;text-align:center;"><img src="/assets/Prueba_Loader.gif" /></span></p>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
        $('body').append(contenido);
    }
    if (typeof $ != 'undefined') {
        $('#cargadorBorrarCedasOriginal').modal({
            keyboard: false
        });
        $('#cargadorBorrarCedasOriginal').modal('show');
    }
    $.ajax({
        url: '@Url.Content("~/TablaDeDatosCedasOriginal/BorrarCedasOriginal")',
        type: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
        data: {
            llavePrimaria: llavePrimaria
        },
        error: function(jqXHR, textStatus, error) {
            console.log(jqXHR.responseText);
            if ($('#borrarCedasOriginal').length == 0) {
                var contenido = '\r\n<div class="modal" data-backdrop="static" id="borrarCedasOriginal" tabindex="-1" role="dialog">\r\n  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">\r\n    <div class="modal-content">\r\n      <div class="modal-header">\r\n        <h5 class="modal-title">@Html.Raw(Idioma["Error"])</h5>\r\n        <button type="button" class="borrarCedasOriginalCerrar close"  data-dismiss="modal" aria-label="Close">\r\n          <span aria-hidden="true">&times;</span>\r\n        </button>\r\n      </div>\r\n      <div class="modal-body">\r\n        <p>@Html.Raw(Idioma["OcurrioUnError"])</p>\r\n      </div>\r\n      <div class="modal-footer">\r\n        <button type="button" class="borrarCedasOriginalCerrar btn btn-secondary"  data-dismiss="modal">@Html.Raw(Idioma["Cerrar"])</button>\r\n      </div>\r\n    </div>\r\n  </div>\r\n</div>\r\n';
                $('body').append(contenido);
            }
            if (typeof $ != 'undefined') {
                $('#borrarCedasOriginal').modal({
                    keyboard: false
                });
                $('#borrarCedasOriginal').modal('show');
            }
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarCedasOriginal').modal('hide');
            }
        },
        success: function(response) {
            console.log(response);
            if (typeof $ != 'undefined') {
                $('#cargadorBorrarCedasOriginal').modal('hide');
            }
            callback();
        }
    });
}
tablaDeDatosCedasOriginalTabla = new Tabulator('#tablaDeDatosCedasOriginal', {
    columnVertAlign: 'bottom',
    groupBy: [],
    groupStartOpen: false,
    groupToggleElement: 'header',
    groupHeader: function(value, count, data, group) {
        return value + ' (' + count + ')';
    },
    locale: 'L',
    langs: {
        'L': {
            'data': {
                'loading': '@Html.Raw(Idioma["Procesando"])',
                'error': '@Html.Raw(Idioma["OcurrioUnError"])'
            },
            'pagination': {
                'page_size': '@Html.Raw(Idioma["TamanoDePagina"])',
                'first': '@Html.Raw(Idioma["Primero"])',
                'first_title': '@Html.Raw(Idioma["Primero"])',
                'last': '@Html.Raw(Idioma["Ultimo"])',
                'last_title': '@Html.Raw(Idioma["Ultimo"])',
                'prev': '@Html.Raw(Idioma["Anterior"])',
                'prev_title': '@Html.Raw(Idioma["Anterior"])',
                'next': '@Html.Raw(Idioma["Siguiente"])',
                'next_title': '@Html.Raw(Idioma["Siguiente"])',
            }
        }
    },
    sortMode: 'remote',
    pagination: true,
    printAsHtml: true,
    printVisibleRows: false,
    printCopyStyle: true,
    layout: 'fitDataFill',
    columns: [{
        title: '@Html.Raw(Idioma["DapTon"])',
        field: 'dapTonCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["UreaTon"])',
        field: 'ureaTonCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["ClaveCedasSader"])',
        field: 'claveCedasSaderCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Estado"])',
        field: 'estadoCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["IdCedaSegalmex"])',
        field: 'idCedaSegalmexCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["RegionSegalmex"])',
        field: 'regionSegalmexCedasOriginal',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["Estatus"])',
        field: 'nombreEstatus',
        width: 100,
        hozAlign: 'left',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        headerVertical: false,
        cssClass: '',
        formatter: 'html'
    },
    {
        title: '@Html.Raw(Idioma["HabilitadoDeshabilitado"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '' + (cell.getData().estatusCedasOriginal == 1 ? '<a href="javascript:;" onclick="deshabilitadoCedasOriginalModel(function(){tablaDeDatosCedasOriginalTabla.replaceData();},\'' + cell.getData().llavePrimariaCedasOriginal + '\');"><input  class="" src="/assets/Prueba_Enabled.png" type="image" id="habilitadoTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" name="habilitadoTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" /> </a>' : '') + '' + (cell.getData().estatusCedasOriginal == 2 ? '<a href="javascript:;" onclick="habilitadoCedasOriginalModel(function(){tablaDeDatosCedasOriginalTabla.replaceData();},\'' + cell.getData().llavePrimariaCedasOriginal + '\');"><input  class="" src="/assets/Prueba_Disabled.png" type="image" id="deshabilitadoTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" name="deshabilitadoTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" /> </a>' : '') + '';
        }
    },
    {
        title: '@Html.Raw(Idioma["Editar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="window.location=\'@Url.Content("~/")cedas_originales/editar/' + cell.getData().llavePrimariaEncriptadoCedasOriginal + '\';"><input  class="" src="/assets/Prueba_Edit.png" type="image" id="editarTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" name="editarTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" /> </a>';
        }
    },
    {
        title: '@Html.Raw(Idioma["Borrar"])',
        width: 100,
        hozAlign: 'center',
        headerTooltip: '',
        download: true,
        frozen: false,
        visible: true,
        print: true,
        cssClass: '',
        headerSort: false,
        headerVertical: false,
        formatter: function(cell, formatterParams, onRendered) {
            return '<a href="javascript:;" onclick="confirmarCedasOriginalModel();$(\'.confirmarCedasOriginalAceptar\').unbind(\'click\');$(\'.confirmarCedasOriginalAceptar\').click(function(){if (typeof $ != \'undefined\') {  $(\'#confirmarCedasOriginal\').modal(\'hide\');}borrarCedasOriginalModel(function(){tablaDeDatosCedasOriginalTabla.replaceData();},\'' + cell.getData().llavePrimariaCedasOriginal + '\');});"><input  class="" src="/assets/Prueba_Delete.png" type="image" id="borrarTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" name="borrarTablaDeDatosCedasOriginal' + cell.getData().llavePrimariaCedasOriginal + '" /> </a>';
        }
    },
    ],
    ajaxURL: '/CedasOriginales/FuenteDeDatosTablaDeDatosCedasOriginalCompleto',
    ajaxParams: function() {
        return {
            _csrf: antiforgeryToken,
            claveCedasSaderCedasOriginal: $('#buscarTerminoBuscarCedasOriginal').val(),
            estadoCedasOriginal: $('#buscarTerminoBuscarCedasOriginal').val(),
            idCedaSegalmexCedasOriginal: $('#buscarTerminoBuscarCedasOriginal').val(),
            regionSegalmexCedasOriginal: $('#buscarTerminoBuscarCedasOriginal').val()
        }
    },
    ajaxConfig: {
        method: 'POST',
        headers: {
            'RequestVerificationToken': antiforgeryToken,
            'X-CSRF-TOKEN': antiforgeryToken
        },
    },
    ajaxRequesting: function(url, params) {
    },
    ajaxResponse: function(url, params, response) {
        return response;
    },
    dataReceiveParams: {
        'last_page': 'total',
        'data': 'datos'
    },
    dataSendParams: {
        'page': 'pagina',
        'size': 'tamanoDePagina'
    },
    responsiveLayout: 'collapse',
    persistence: {
        sort: true,
        group: false,
        page: {
            size: true,
            page: false,
        }
    },
    paginationMode: 'remote',
    paginationSize: 10,
    paginationSizeSelector: [10, 25, 50, 100],
});
</script>
