@using Microsoft.AspNetCore.Http;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Administrador_20039_Index";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@{
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Header {

<partial name="_MenuPrincipal" />


}
@section Content {


}
@section Footer {

}
@section Head {

}
@section Scripts {
<script type="text/javascript">var antiforgeryToken=@Json.Serialize(antiforgeryRequestToken);</script>

<partial name="_MenuPrincipalJavascript" />


<partial name="_NotificacionesWebJavascript" />


}
@section Styles {

<partial name="_MenuPrincipalStyles" />



}