@using Microsoft.AspNetCore.Http;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Administrador_20039_StarterKit";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@{
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Header {

<partial name="_MenuPrincipal" />


}
@section Menu {

<partial name="_NuevoCambiarIdioma" />


<partial name="_MenuPorBaseDeDatos" />


}
@section Title {

}
@section Breadcrumb {

}
@section Content {

<partial name="_DetalleProductoresNuevoEditarProductores" />



}
@section Footer {

}
@section Head {

}
@section Scripts {
<script type="text/javascript">var antiforgeryToken=@Json.Serialize(antiforgeryRequestToken);</script>

<partial name="_MenuPrincipalJavascript" />


<partial name="_NuevoCambiarIdiomaJavascript" />


<partial name="_MenuPorBaseDeDatosJavascript" />


<partial name="_DetalleProductoresJavascriptNuevoEditarProductores" />


<partial name="_NotificacionesWebJavascript" />


}
@section Styles {

<partial name="_MenuPrincipalStyles" />


<partial name="_NuevoCambiarIdiomaStyles" />


<partial name="_MenuPorBaseDeDatosStyles" />


<partial name="_DetalleProductoresStylesNuevoEditarProductores" />



}