@using Microsoft.AspNetCore.Http;
@inject Microsoft.Extensions.Localization.IStringLocalizer<PruebaDeExcel.RecursosCompartidos> Idioma
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Administrador_20039_Index";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@{
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Header {

<partial name="_MenuPrincipal" />


}
@section Content {

<partial name="_FormularioDeLogin" />

<form method="POST" action="/Keycloak/Login?returnURL=@Context.Request.Query["ReturnUrl"]" id="formIngresarPorKeycloak">
			  @Html.AntiForgeryToken()
			  <input type="image" id="ingresarPorKeycloak" src="/assets/Prueba_Keycloak.png"/>
			  </form>
<form method="POST" action="/PruebaDeFacebookLogin/Login?returnURL=@Context.Request.Query["ReturnUrl"]" id="formIngresarPorFacebook">
			  @Html.AntiForgeryToken()
			  <input type="image" id="ingresarPorFacebook" src="/assets/Prueba_Facebook.png"/>
			  </form>
<audio style="width:100%;height:500px;" controls autoplay><source src="/assets/sample-3s.mp3" type="audio/mp3"></audio>




}
@section Footer {

}
@section Head {

}
@section Scripts {
<script type="text/javascript">var antiforgeryToken=@Json.Serialize(antiforgeryRequestToken);</script>

<partial name="_MenuPrincipalJavascript" />


<partial name="_FormularioDeLoginJavascript" />

<partial name="_LoginJavascript" />





<partial name="_NotificacionesWebJavascript" />




}
@section Styles {

<partial name="_MenuPrincipalStyles" />







<partial name="_DatosEstructurados" />


<partial name="_NuevoEstilos" />


}